{% extends 'base.html' %}

{% block body %}

<div class="pt-5 defont s140 text-center">
    New User Registration
</div>

<div class="pt-3 text-center">
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" class="itext defont s120 text-center my-2" placeholder="Email"/>
        <input type="text" name="uname" class="itext defont s120 text-center my-2" placeholder="Username"/>
        <br>
        <input type="password" name="passwd1" class="itext defont s120 text-center my-2" placeholder="Password"/>
        <input type="password" name="passwd2" class="itext defont s120 text-center my-2" placeholder="Re-type Password"/>
        <br>
        <input type="text" name="phone" class="itext defont s120 text-center my-2" placeholder="Contact Number"/>
        
        <br>

        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert {{ message.tags }} mx-5 my-2"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        <input type="submit" class="btn btn-dark mt-3 px-4 py-2" value="Sign Up"/>
    </form>
</div>

{% endblock body %}